body{
    background: linear-gradient(135deg, #232526 0%, #414345 100%);
    
}
.main-box{
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.content{
    background: linear-gradient(135deg, aqua 0%, rgb(16, 121, 121) 100%);
    height: 50%;
    width: 50%;
}